.form-field {
  @include flex-column-start;

  &__caption {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__input {
    width: 260px;
    height: 44px;
    border: 1px solid #d7dadd;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--color-athens);
    padding-left: 20px;

    &::placeholder {
      color: #9a9ca5;

      @include mobile {
        font-size: 12px;
      }
    }

    &--large {
      height: 66px;
      resize: none;
      padding-top: 10px;
    }
  }

  &--big {
    flex-grow: 1;
    .form-field__input {
      width: 100%;
    }
  }

  &--gray {
    width: 100%;

    .form-field__input {
      width: 100%;
      background-color: #F4F5F7;
    }
  }
}
