.header {
  padding: 23px;
  padding-bottom: 21px;
  &__container {
    @include flex-all-sb;
  }
  &__nav {
    margin-left: -100px;

    @include desktop {
      margin-left: 0;
    }

    @include small-tablet {
      display: none;
    }
  }

  .logo {
    @include desktop {
      max-width: 100px;
    }
    @include tablet {
      max-width: none;
    }
  }
  &--main {
    background-color: var(--color-light);
  }

  &--secondary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
