.portfolio-section {
  padding: 120px 0;
  background-color: var(--color-light);

  @include desktop {
    padding: 55px 0;
  }

  &__container {
    max-width: 1260px;
    overflow: hidden;
  }
  &__title {
    margin: 0;
    max-width: 710px;
    padding-bottom: 12px;

    @include mobile {
      margin-bottom: 20px;
    }
  }
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 132px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__items {
    padding: 0 100px 100px 100px;
    margin: -100px;
    height: 592px;
  }
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-light);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;

  &:hover {
    .portfolio-item__btn {
      display: block;
      animation: fade_in_show 0.5s;
    }

    img {
      max-height: 277px;
    }
  }

  &__content {
    @include flex-column-center;

    padding: 16px 10px;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    font-weight: 700;
    color: var(--color-ebony);
  }
  &__descr {
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-storm);
  }

  &__btn {
    display: none;
    transition: opacity 1s ease-out;
    margin-top: 24px;
    border: 1px solid currentColor;
    border-radius: 4px;
    font-size: 14px;
    padding: 13px 31px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-primary);
  }
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

