.slider-nav {
  @include flex-v-center;

  &__btn {
   @include flex-all-center;
    width: 48px;
    height: 48px;
    transition: color 0.2s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 100%;
    color: var(--color-gray);
    svg {
      width: 24px;
      height: 24px;
      display: block;
      object-fit: cover;
      color: inherit;
      fill: currentColor;
    }
    &:hover {
      color: var(--color-light);
      background-color: var(--color-primary);
    }
  }
}
