.slider-nav {
  @include flex-v-center;

  position: relative;
  z-index: 15;

  @include mobile {
    margin-right: auto;
  }
  &__btn {
    @include flex-all-center;
    width: 48px;
    height: 48px;
    transition: color 0.2s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 100%;
    color: var(--color-gray);
    svg {
      width: 24px;
      height: 24px;
      display: block;
      object-fit: cover;
      color: inherit;
      fill: currentColor;
    }
    &:hover {
      color: var(--color-light);
      background-color: var(--color-primary);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: inherit;
    left: 0;
    &::after {
      content: "";
    }
  }
  .swiper-button-next {
    margin-right: 6px;
  }
}

.slider-nav__btn.swiper-button-disabled {
  opacity: .4;
  pointer-events: none;
}
