.partners {
  padding: 80px 0;
  background-color: #f4f5f7;

  @include desktop {
    padding-bottom: 50px;
  }

  &__title {
    padding: 60px;
  }
  &__item {
    @include desktop {
      display: flex;
      justify-content: center;
      grid-column: 3 span;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;

    @include desktop {
      column-gap: 30px;
      gap: 30px;
    }
  }
}
