.to-top {
  position: fixed;
  right: calc((100% - 1230px) / 2);
  bottom: 80px;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  opacity: 0;

  &__text {
    margin-right: 16px;
    font-size: 14px;
    line-height: 150%;
    text-shadow: 3px 3px 11px rgba(150, 150, 150, 1);
    text-transform: uppercase;
    color: var(--color-light);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background: var(--color-primary);

    svg {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }

    &:hover {
      background-color: var(--color-active);
    }
  }


  @include desktop {
    right: 20px;
    bottom: 20px;
  }
}
