<section class="facts">
  <div class="container facts__container">
    <h2 class="title facts__title">Some facts and figures</h2>
    <ul class="list-reset facts__list">
      <li class="facts__item">
        <div class="facts-elem">
          <div class="facts-elem__circle facts-elem__circle--color-one" data-percent="98">
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle class="progress-bg" r="148" cx="148" cy="148" fill="none" stroke-width="15"></circle>
              <circle class="progress" r="148" cx="148" cy="148" fill="none" stroke-width="15"></circle>
            </svg>
            <div class="facts-elem__value">98%</div>
          </div>
          <span class="facts-elem__text">Totally satisfied clients</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-elem">
          <div class="facts-elem__circle facts-elem__circle--color-two" data-value="20" data-full="50" data-percentage="true" data-value="9452">
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke="yellow" stroke-width="15"></circle>
              <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke="crimson" stroke-width="15"></circle>
            </svg>
            <div class="facts-elem__value">98%</div>
          </div>
          <span class="facts-elem__text">Years of experience</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-elem">
          <div class="facts-elem__circle facts-elem__circle--color-three" data-percent="98" data-full="10000" data-percentage="true" data-value="9452">
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke="yellow" stroke-width="15"></circle>
              <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke="crimson" stroke-width="15"></circle>
            </svg>
            <div class="facts-elem__value">98%</div>
          </div>
          <span class="facts-elem__text">Working hours spent</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-elem">
          <div class="facts-elem__circle facts-elem__circle--color-four" data-percent="100">
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke="yellow" stroke-width="15"></circle>
              <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke="crimson" stroke-width="15"></circle>
            </svg>
            <div class="facts-elem__value">98%</div>
          </div>
          <span class="facts-elem__text">Succeeded projects</span>
        </div>
      </li>
    </ul>
  </div>
</section>
