<section class="partners">
  <div class="container">
    <h2 class="title title--center">Supported by 12+ partners</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-one.png" alt="logo-1" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-two.png" alt="logo-1" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-three.png" alt="logo-1" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-four.png" alt="logo-1" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-five.png" alt="logo-1" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <img src="img/partners/partners-six.png" alt="logo-1" class="partners__logo">
        </a>
      </li>
    </ul>
  </div>
</section>
