<section class="portfolio-section">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="title portfolio-section__title">Browse our selected projects
        and learn more about our work
      </h2>
      <div class="slider-nav">
        <button class="btn-reset slider-nav__btn slider-btn portfolio-section__prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn portfolio-section__next">
          <svg class="">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
