<section class="portfolio-section">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="title portfolio-section__title">Browse our selected projects
        and learn more about our work
      </h2>
      <div class="slider-nav">
        <button class="btn-reset slider-nav__btn slider-btn portfolio-section__prev swiper-button-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn portfolio-section__next swiper-button-next">
          <svg class="">
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper portfolio-section__items">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img src="img/portfolio-one.jpg" alt="" class="portfolio-img">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="btn btn--stroke portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img src="img/portfolio-one.jpg" alt="" class="portfolio-img">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="btn btn--stroke portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img src="img/portfolio-one.jpg" alt="" class="portfolio-img">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="btn btn--stroke portfolio-item__btn">View Project</div>
            </div>
          </a>
          <div class="swiper-slide">
            <a href="#" class="portfolio-item">
              <img src="img/portfolio-one.jpg" alt="" class="portfolio-img">
              <div class="portfolio-item__content">
                <h3 class="portfolio-item__title">Red Finger Building</h3>
                <span class="portfolio-item__descr">Business Centers</span>
                <div class="btn btn--stroke portfolio-item__btn">View Project</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="learn-more">
      <h4 class="learn-more__subtitle">
        Explore all our works
      </h4>
      <button class="btn-reset learn-more__btn">
        View portfolio
      </button>
    </div>
  </div>
</section>
