<section class="recent-news">
  <div class="container">
    <h2 class="title recent-news__title">Recent news</h2>
    <ul class="list-reset recent-news__list">
      <li class="recent-news__item">
        <article class="recent-article">
          <img src="img/recent-article-one.jpg" alt="article 1" class="recent-article__img">
          <div class="recent-article__text">
            <h3 class="recent-article__title">
              <a href="#" class="recent-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="recent-article__meta articel-meta">
              <a href="" class="articel-meta__item">Industry News</a>
              <time class="articel-meta__item" datetime="2022-06-24">June 24, 2020</time>
              <span class="articel-meta__item articel-meta__item--comments">4 comments</span>
            </div>
            <p class="recent-article__descr">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article class="recent-article recent-article--small">
          <img src="img/recent-article-two.jpg" alt="article 1" class="recent-article__img">
          <div class="recent-article__text">
            <h3 class="recent-article__title">
              <a href="#" class="recent-article__link">How Construction Can Help Itself</a>
            </h3>
            <div class="recent-article__meta articel-meta">
              <a href="" class="articel-meta__item">Innovations</a>
              <time class="articel-meta__item" datetime="2022-06-24">June 24, 2020</time>
              <span class="articel-meta__item articel-meta__item--comments">No comments</span>
            </div>
            <p class="recent-article__descr">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article class="recent-article recent-article--small">
          <img src="img/recent-article-three.jpg" alt="article 1" class="recent-article__img">
          <div class="recent-article__text">
            <h3 class="recent-article__title">
              <a href="#" class="recent-article__link">Type of Flooring Materials</a>
            </h3>
            <div class="recent-article__meta articel-meta">
              <a href="" class="articel-meta__item">Company News</a>
              <time class="articel-meta__item" datetime="2022-06-24">June 24, 2020</time>
              <span class="articel-meta__item articel-meta__item--comments">No comments</span>
            </div>
            <p class="recent-article__descr">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
          </div>
        </article>
      </li>
    </ul>
    <div class="learn-more">

      <h4 class="learn-more__subtitle">
        Explore all our news posts
      </h4>
      <button class="btn-reset learn-more__btn">
        View all news
      </button>
    </div>
  </div>

</section>
