<section class="services">
  <img src="img/services-content-bg-one.png" alt="services-content-bg-one" aria-hidden="true" class="services-decorate-one">
  <img src="img/services-content-bg-two.png" alt="services-content-bg-two" aria-hidden="true" class="services-decorate-two">
  <div class="container">
    <h2 class="visually-hidden">Services content</h2>
    <ul class="list-reset services__list">
      <li class="services__item">
        <div class="services__img">
          <img src="img/service-content-one.jpg" alt="services-content-one">
        </div>
        <div class="services__info">
          <h2 class="services__title">Construction</h2>
          <p class="services__desc">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur
            vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;ut&nbsp;augue.
            Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim
            ut&nbsp;vestibulum.</p>
          <a href="#" class="services__link btn btn--stroke btn--stroke-light">Learn more</a>
        </div>
      </li>
      <li class="services__item services__item--reverse">
        <div class="services__img">
          <img src="img/service-content-two.jpg" alt="services-content-two">
        </div>
        <div class="services__info">
          <h2 class="services__title">Project Development</h2>
          <p class="services__desc">Volutpat tellus mauris sit sit. Posuere ut&nbsp;sit vestibulum amet viverra&nbsp;in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.</p>
          <a href="#" class="services__link btn btn--stroke btn--stroke-light">Learn more</a>
        </div>
      </li>
      <li class="services__item">
        <div class="services__img">
          <img src="img/service-content-three.jpg" alt="services-content-three">
        </div>
        <div class="services__info">
          <h2 class="services__title">Interior Design</h2>
          <p class="services__desc">Eleifend orci massa et&nbsp;facilisis orci feugiat&nbsp;ac. Congue in&nbsp;ut&nbsp;lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis&nbsp;a, id&nbsp;bibendum. Egestas lorem eros, mi&nbsp;cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.</p>
          <a href="#" class="services__link btn btn--stroke btn--stroke-light">Learn more</a>
        </div>
      </li>
      <li class="services__item services__item--reverse">
        <div class="services__img">
          <img src="img/service-content-four.jpg" alt="services-content-four">
        </div>
        <div class="services__info">
          <h2 class="services__title">Repairs</h2>
          <p class="services__desc">Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id egestas mattis. Turpis viverra nec urna ultrices urna.</p>
          <a href="#" class="services__link btn btn--stroke btn--stroke-light">Learn more</a>
        </div>
      </li>
    </ul>
  </div>
</section>
