html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  width: 100%;
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  color: var(--color-ebony);
  text-transform: uppercase;

  @include small-tablet {
    font-size: 48px;
    line-height: 72px;
  }

  @include mobile {
    font-size: 31px;
    line-height: 41px;
    margin-bottom: 10px;
  }

  span {
    color: var(--color-primary);
  }

  &--home {
    color: var(--color-light);
  }
}

.main-desc {
  font-size: 20px;
  line-height: 150%;
  color: var(--color-storm);
  margin: 0;

  @include small-tablet {
    font-size: 14px;
  }

  @include mobile {
    font-size: 12px;
  }
  &--home {
    color: var(--color-light);
    margin-bottom: 40px;
    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.btns-main {
  display: flex;
  @include mobile {
    flex-direction: column;
  }
  .btn {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 39px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--color-light);
    border-radius: 4px;
    @include mobile {
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--fill {
      background-color: var(--color-primary);
    }
    &--stroke {
      border-width: 1px;
      border-style: solid;
      &-light {
        border-color: var(--color-light);
      }
    }
    &:not(:last-child) {
      margin-right: 22px;
      @include mobile {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

.title,
.descr {
  margin: 0;

  &--center {
    text-align: center;
  }
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);

  @include mobile {
    font-size: 26px;
    line-height: 120%;
  }
}

.descr {
  font-size: 18px;
  margin-bottom: 60px;
  line-height: 150%;
  font-weight: 400;
  color: var(--color-storm);

  @include mobile {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 125%;
  }
}

.section-offset {
  padding-top: 120px;
  @include small-tablet {
    padding-top: 60px;
  }
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &__input {
    opacity: 0;
    position: absolute;

    &:not(:disabled):not(:checked) + span:hover::before {
      border-color: #ff5a30;
    }

    &:focus + span::before {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &:focus:not(:checked) + span::before {
      border-color: #ff5a30;
    }

    &:checked + span::before {
      border-color: #ff5a30;
      background-color: #ff5a30;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &::disabled + span::before {
      background-color: #e9ecef;
    }
  }

  &__text {
    display: inline-flex;
    align-items: center;
    user-select: none;
    align-items: center;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;

    @include mobile {
      font-size: 10px;
      line-height: 113%;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }
}

.burger {
  --burger-width: 40px;
  --burger-height: 20px;
  --burger-line-height: 2px;

  position: absolute;
  right: 15px;
  top: 23px;
  z-index: 1000;
  display: none;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;

  @include tablet {
    display: block;
  }
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.burger:focus::after {
  opacity: 1;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 500;
  background-color: rgba(#000, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}
